layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Core" split_direction="vertical" cwd="/Users/adriandavilla/Code/loop-returns-app/" {
        pane
    }
    tab name="Whiplash" split_direction="vertical" cwd="/Users/adriandavilla/Code/whiplash-middleware/" {
        pane
    }
    tab focus=true name=".dotfiles" cwd="/Users/adriandavilla/.dotfiles" {
        pane
    }
    tab name="qmk" cwd="/Users/adriandavilla/Code/qmk_firmware" {
        pane
    }
}

