{{- if or (eq .is_mac true) (eq .is_ubuntu true) -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.homebrew.taps }}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.homebrew.brews }}
brew {{ . | quote }}
{{ end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{ range .packages.homebrew.casks }}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
