{{- if ne .distro "mac" -}}
#!/bin/bash

{{ template "shared_bin_utils.sh.tmpl" . }}

info "Installing Flatpak packages"

flatpak install flathub app.zen_browser.zen

success "Successfully installed Flatpak packages"

{{- end -}}
