#!/bin/bash

{{ template "shared_bin_utils.sh.tmpl" . }}

info "Installing Yazi packages"

function install_yazi_plugin() {
  package=$1
  ya pkg add $package &
}

# Yazi plugins (if ya is available)
if command -v ya &>/dev/null; then
  info "Installing Yazi plugins"
  install_yazi_plugin yazi-rs/flavors:catppuccin-mocha
  install_yazi_plugin yazi-rs/plugins:git
  install_yazi_plugin yazi-rs/plugins:full-border
else
  info "Skipping Yazi plugin install (ya not found)"
fi
