{{- if eq .is_arch true -}}
#!/bin/bash

# Update package list
sudo pacman -Syu yay fakeroot --noconfirm

{{ range .packages.arch.yays }}
yay -Syu {{ . | quote }} --noconfirm
{{ end -}}

{{ range .packages.arch.paru }}
paru -S {{ . | quote }} --noconfirm
{{ end -}}

{{- end -}}
