{{- if eq .is_arch true -}}
#!/bin/bash

sudo pacman -Syu --noconfirm
# Ensure helpers are installed without reinstalling
sudo pacman -S --needed --noconfirm fakeroot yay

{{- if .packages.arch.yays }}
# Install all yay-managed packages in one batch, skip installed
yay -S --needed --noconfirm{{ range .packages.arch.yays }} {{ . | quote }}{{ end }}
{{- end }}

{{- if .packages.arch.paru }}
# Install all paru-managed packages in one batch, skip installed
paru -S --needed --noconfirm{{ range .packages.arch.paru }} {{ . | quote }}{{ end }}
{{- end }}

{{- end -}}
