#!/bin/bash

{{ template "shared_bin_utils.sh.tmpl" . }}

# Change shell to zsh if not already
if [ "$SHELL" != "$(which zsh)" ]; then
  info "Changing default shell to zsh"
  chsh -s "$(which zsh)"
  success "Shell updated to zsh"
fi

