#
matches:
  - trigger: "%man"
    replace: "{{ protonPass .secrets.espanso.manager_email }}@{{ protonPass .secrets.espanso.work_domain }}"

  - trigger: "%work"
    replace: "{{ protonPass .secrets.espanso.my_email }}@{{ protonPass .secrets.espanso.work_domain }}"

  - trigger: "%temail"
    form: "{{ protonPass .secrets.espanso.my_email }}+[[name]]@{{ protonPass .secrets.espanso.work_domain }}"

  - trigger: "%remail"
    replace: "{{ protonPass .secrets.espanso.my_email }}+{{ "{{" }} timestamp {{ "}}" }}@suralink.com"
    vars:
      - name: timestamp
        type: date
        params:
          format: "%s"

