matches:
  - trigger: "%jira"
    form: "{{ protonPass .secrets.espanso.jira_link | trim }}[[ticket_number]]"

  - trigger: "%rl"
    replace: "{{ "{{" }} today {{ "}}" }}-{{ "{{" }} release.commitHash{{ "}}" }} {{ protonPass .secrets.jira.team_name | trim }}"
    vars:
      - name: today
        type: date
        params:
          format: "%Y-%m-%d"
      - name: "release"
        type: "form"
        params:
          layout: "What is the [[commitHash]] being release?"

  - trigger: "%slrl"
    replace: |
      Going to release [{{ "{{" }} release.fixVersion {{ "}}" }}]({{ "{{" }} release.fixVersionUrl {{ "}}" }}) to prod
      *Ticket:* [APP-{{ "{{" }} release.ticketId {{ "}}" }}](https://suralink.atlassian.net/browse/APP-{{ "{{" }} release.ticketId {{ "}}" }})
      *Repo:* `{{ "{{" }} release.repo {{ "}}" }}`
    vars:
      - name: "release"
        type: "form"
        params:
          layout: |
            Fix version: [[fixVersion]]
            Fix Version URL: [[fixVersionUrl]]
            Ticket ID: [[ticketId]]
            Repo: [[repo]]


