# Example aliases
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"

# Fix numeric keypad
# 0 . Enter
bindkey -s "^[Op" "0"
bindkey -s "^[On" "."
bindkey -s "^[OM" "^M"
# 1 2 3
bindkey -s "^[Oq" "1"
bindkey -s "^[Or" "2"
bindkey -s "^[Os" "3"
# 4 5 6
bindkey -s "^[Ot" "4"
bindkey -s "^[Ou" "5"
bindkey -s "^[Ov" "6"
# 7 8 9
bindkey -s "^[Ow" "7"
bindkey -s "^[Ox" "8"
bindkey -s "^[Oy" "9"
# + -  * /
bindkey -s "^[Ol" "+"
bindkey -s "^[Om" "-"
bindkey -s "^[Oj" "*"
bindkey -s "^[Oo" "/"

export PATH="$PATH:/Applications/XAMPP/bin;yarn global bin;"

## Development
alias ll="ls -alhG"
alias pup="php -S localhost:3000"

alias c="clear"

alias cdh="cd ~/Homestead"
alias cloc="git ls-files | xargs wc -l"

# Git
alias gcos="git checkout staging"
alias gcod="git checkout dev"

# Vagrant aliases
alias vg="vagrant"
alias vgu="vg up"
alias vgs="vg ssh"
alias vgus="vgu; vgs"
alias vgh="vg halt"
alias vgprov="vg up --provision"

# Composer
alias crs='composer run-script'

# Node alias
alias ni='npm install'
alias nid='npm install -D'
alias nrd='npm run development'
alias nrh='npm run hot'
alias nrp='npm run production'
alias nrt='npm run test'
alias nrw='npm run watch'
alias nrww='npm run watch-poll'

alias yrd='yarn run dev'
alias yrh='yarn run hot'
alias yrp='yarn run production'
alias yrt='yarn run test'
alias yrw='yarn run watch'
alias yrwp='yarn run watch-poll'

# Python
alias python=python3

# Testing
alias cy='./node_modules/.bin/cypress'
alias cyo='cy open'
alias cyr='cy run'
alias jt='nrt -t'
alias p='phpunit'
alias pf='p --filter'
alias phpspec='vendor/bin/phpspec'
alias phpunit='vendor/bin/phpunit'
alias serve='serve-laravel'
alias xoff='sudo phpdismod -s cli xdebug'
alias xon='sudo phpenmod -s cli xdebug'

# Path updates
export PATH=/Applications/PhpStorm.app/Contents/bin:$PATH

# servers Connections
alias holy-farm="ssh forge@96.126.124.75"
alias app1="ssh forge@54.214.53.168"
alias app2="ssh forge@35.162.21.101"
