{{- $purposes := list "personal" "work" -}}
{{- $purpose := promptChoiceOnce . "purpose" "What is this machine used for?" $purposes -}}
[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/.install-password-manager.sh"

[data]
  purpose = "{{ $purpose }}"
  is_mac = {{ if eq .chezmoi.os "darwin" }} true {{ else }} false {{ end }}
  is_linux = {{ if eq .chezmoi.os "linux" }} true {{ else }} false {{ end }}
  is_ubuntu = {{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "ubuntu") }} true {{ else }} false {{ end }}
  is_arch = {{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "arch") }} true {{ else }} false {{ end }}

[data.colorscheme]
  rosewater = "#f5e0dc"
  flamingo = "#f2cdcd"
  pink = "#f5c2e7"
  mauve = "#cba6f7"
  red = "#f38ba8"
  maroon = "#eba0ac"
  peach = "#fab387"
  yellow = "#f9e2af"
  green = "#a6e3a1"
  teal = "#94e2d5"
  sky = "#89dceb"
  sapphire = "#74c7ec"
  blue = "#89b4fa"
  lavender = "#b4befe"
  text = "#cdd6f4"
  subtext1 = "#bac2de"
  subtext0 = "#a6adc8"
  overlay2 = "#9399b2"
  overlay1 = "#7f849c"
  overlay0 = "#6c7086"
  surface2 = "#585b70"
  surface1 = "#45475a"
  surface0 = "#313244"
  base = "#1e1e2e"
  mantle = "#181825"
  crust = "#11111b"

