CASE_SENSITIVE="true"

autoload -Uz compinit && compinit

HISTFILE=~/.zsh_history
HISTSIZE=50000
SAVEHIST=50000

setopt SHARE_HISTORY
setopt AUTO_CD
setopt EXTENDED_GLOB
setopt GLOB_DOTS
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_FIND_NO_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_SAVE_NO_DUPS
setopt HIST_REDUCE_BLANKS
# END HISTORY

ZSH_RCFILES="$HOME/.config/zsh"

sourceFileInConfig () {
  for file in $ZSH_RCFILES/$1/**/*.zsh; do
    [ -r "$file" ] && [ -f "$file" ] && source "$file";
  done;
  unset file;
}

sourceFileInConfig rcfiles

[ -r "$HOME/.local/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh" ] && \
  source "$HOME/.local/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi
export EDITOR=$(which nvim)
export TERM="xterm-256color"
[[ -n $TMUX ]] && export TERM="tmux-256color"

# Detect Ghostty (only autostart tmux from Ghostty)
is_primary_terminal=false
[[ "$TERM_PROGRAM" = "ghostty" ]] && is_primary_terminal=true

# Autostart tmux only when in Ghostty
if [[ -o interactive ]] && [[ -z "$TMUX" ]] && [[ "$is_primary_terminal" = true ]] && [[ -z "$ZSH_NO_TMUX_AUTOSTART" ]]; then
  # Check if a tmux server is running
  if ! pgrep -x "tmux" > /dev/null; then
    # If no tmux server is running, run your command
    tmuxp load -d dots

    tmuxp load -d notes

    {{- if eq .purpose "work" -}}
    tmuxp load -d notes
    {{ else }}
    tmuxp load -d together
    {{- end }}

    tmux attach
  else
    # If a tmux server is running, attach to it
    tm a
  fi
fi

{{- if eq .is_ubuntu true }}
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  eval "$(fnm env --use-on-cd)"
{{- end }}

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
source <(fzf --zsh)
eval "$(fzf --zsh)"
eval "$(starship init zsh)"
# eval "$(zoxide init --cmd cd zsh)"
eval "$(zoxide init zsh)"

# . "$HOME/.local/bin/env"
