# reload configuration
bind r source-file ~/.config/tmux/tmux.conf \; display '~/.config/tmux/tmux.conf sourced'
# clear both screen and history
bind -n C-l send-keys C-l \; run 'sleep 0.2' \; clear-history

unbind-key m
unbind-key n
bind-key j next-window
unbind-key p
bind-key k previous-window

# Pane Management
bind-key C-w kill-pane -a

# Session Management
bind . if-shell '[ $(tmux has-session -t "Dotfiles") -eq 0 ]' {
  attach -t "Dotfiles"
} {
  run-shell "load dots"
}

{{ if eq .purpose "work" -}}
bind u if-shell '[ $(tmux has-session -t "Work") -eq 0 ]' {
  attach -t "Work"
} {
  run-shell "load work"
}
{{- else -}}
bind u if-shell '[ $(tmux has-session -t "Redwood") -eq 0 ]' {
  attach -t "Redwood"
} {
  run-shell "load redwood"
}
{{- end }}

bind i if-shell '[ $(tmux has-session -t "Plugins") -eq 0 ]' {
  attach -t "Plugins"
} {
  run-shell "load plugins"
}

bind o if-shell '[ $(tmux has-session -t "QMK Firmware") -eq 0 ]' {
  attach -t "QMK Firmware"
} {
  run-shell "load qmk"
}

bind n if-shell '[ $(tmux has-session -t "Notes") -eq 0 ]' {
  attach -t "Notes"
} {
  run-shell "load notes"
}

bind m if-shell 'tmux has-session -t "Miscellaneous"' 'attach -t "Miscellaneous"'

bind q kill-session

# Window search (case-insensitive, window names only)
bind f command-prompt -p "Find window:" "find-window -i '%%'"


