<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__artwork_folder_size</key>
	<string>69M</string>
	<key>__country_code</key>
	<string>US</string>
	<key>__display_name</key>
	<string>hackeysack09</string>
	<key>__fuzzy_search</key>
	<true/>
	<key>__oauth_access_token</key>
	<string>BQB3GjEO0sL9gsHHiAjEDdi5fve8uetYE-3BYvd25xmkKJra4qCO1lJd9BDWeteY_8KkdiTfIAxjKQ83AHu1jkdCgE90bd33s77tpC_nkyTI7I80grGdDTIaFe3rgZjv6EWRMLIt0rWc5LLRyYXVqsBt1h0WIuAln6Vm38F1lY00kn889UJDQqMjiG5s0PezMl2RukgYJY2eu4QqPkt7nfNZ8icLymAMmjiHfqM70F6YHmPSTvN0zTQaVL4ykscXi9p7e0j0POCmhCwZPgPhBFQXpjqmRN4IJYPeFibx7L5QMVyfjheRLyBz</string>
	<key>__oauth_client_id</key>
	<string>b3fdea2702c44e3ca878eaac05ab019d</string>
	<key>__oauth_client_secret</key>
	<string>c8668ace7d6c4be3bd0e7c5370797be7</string>
	<key>__oauth_refresh_token</key>
	<string>AQBo_LPIAdlxtSazCtFdMI-3lfxKo1R6HTAQsjjuKOsSb7dQ09PrwphjPSluigqAV6p8mDAJmyMzjo1UI9QwenoISiwNDt_xi-vA20Rif3IerWaFLCFfpEmiS2Fq6_SUIZQ</string>
	<key>__podcasts_enabled</key>
	<string>0</string>
	<key>__userid</key>
	<string>hackeysack09</string>
</dict>
</plist>
