[user]
	name = {{ protonPass .secrets.git.username | trim }}
	email = {{ protonPass .secrets.git.personal_email | trim }}

{{ if eq .purpose "work" }}
[includeIf "gitdir:~/Code/suralink/"]
  path = ~/.config/git/config-work
{{- end }}

[color "status"]
	changed = "{{ .colorscheme.red }}"
	added = "{{ .colorscheme.green }}"
	untracked = "{{ .colorscheme.sky }}"
