repositories:
  {{- if eq .purpose "work" }}
  default:
    ticket_prefix: "APP"
  {{- end }}
  php-dev-tools.nvim:
    ticket_prefix: "PDT"
  gco:
    ticket_prefix: "GCO"
    bug: "bugfix"
    story: "feat"
  redwood:
    ticket_prefix: "RW"
    bug: "bugfix"
    story: "feat"
    spike: "spike"
