layout {
  cwd "/home/adaviloper/Code/qmk_userspace/"

  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="Root" {
    pane
  }

  tab name="Userland" cwd="/home/adaviloper/Code/qmk_userspace/users/adaviloper" {
    pane
  }

  tab name="Unicorne" cwd="/home/adaviloper/Code/qmk_userspace/keyboards/boardsource/unicorne" {
    pane
  }

  tab name="Lulu" cwd="/home/adaviloper/Code/qmk_userspace/keyboards/boardsource/lulu/rp2040/keymaps/adaviloper" {
    pane
  }

  tab name="QMK Firmware" cwd="/home/adaviloper/Code/qmk_firmware/" {
    pane
  }
}
