# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
palette = "catppuccin_mocha"

command_timeout = 1000

# separators
# left round:   
# right round:  
# left angled:  
# right angled: 

format = """
[∙](bold sky)$fill[∙ ](bold sky)$time
[](bold sapphire)\
$username\
[ ](sapphire bg:peach)\
$directory\
[ ](peach bg:green)\
$git_branch\
$git_state\
$git_status\
$git_metrics\
[ ](green)
"""

# [└─∙ ](bold sky)
# format = """
# [\uE0B0](base bg:sapphire)\
# $username\
# [\ue0B4 ](sapphire bg:peach)\
# $directory\
# [\ue0b4 ](peach bg:green)\
# $git_branch\
# $git_state\
# $git_status\
# $git_metrics\
# [\uE0B0](green)$fill $time
# """

# Inserts a blank line between shell prompts
add_newline = false

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[➜](bold green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'

[directory]
fish_style_pwd_dir_length = 3
format = '[$path ]($style)[$read_only]($read_only_style bg:peach)'
style = 'mantle bg:peach'
truncation_length = 4

[directory.substitutions]
# Add any substitions here
# 'some/path' = 'alias'
'.dotfiles' = ' .dotfiles'
'~/Code' = ' Code'
'loop-returns-app' = ' Loop'
'qmk_firmware' = '󰌓 QMK'

[fill]
symbol = '─'
style = 'bold sky'

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style bg:green)'
style = 'mantle'
symbol = '[ ](mantle bg:green)'

[git_status]
format = '([\[$all_status$ahead_behind\]]($style))'
disabled = false
style = 'mantle bg:green'

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[time]
disabled = false
format = '[$time]($style rosewater) '

[username]
style_user = "bg:sapphire"
style_root = "bg:pink"
format = '[adaviloper ]($style mantle)'
show_always = true

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

