_pick_node_package_manager() {
  if [ -f yarn.lock ]; then
    echo "yarn"
  elif [ -f package-lock.json ]; then
    echo "npm"
  elif [ -f pnpm-lock.yaml ]; then
    echo "pnpm"
  else
    gum choose --header "No lockfile found. Which package manager?" npm yarn pnpm
  fi
}
