export FZF_DEFAULT_OPTS=" \
--color=bg+:{{ .colorscheme.surface0 }},bg:{{ .colorscheme.base }},spinner:{{ .colorscheme.rosewater }},hl:{{ .colorscheme.red }} \
--color=fg:{{ .colorscheme.text }},header:{{ .colorscheme.green }},info:{{ .colorscheme.blue }},pointer:{{ .colorscheme.rosewater }} \
--color=input:{{ .colorscheme.text }} \
--color=marker:{{ .colorscheme.lavender }},fg+:{{ .colorscheme.text }},prompt:{{ .colorscheme.blue }},hl+:{{ .colorscheme.red }} \
--color=selected-bg:{{ .colorscheme.surface1 }} \
--multi"
