{{- $bg_color := "mantle" -}}
{{- $time_color := "sky" -}}
{{- $directory_color := "pink" -}}
{{- $git_branch_color := "peach" -}}
{{- $git_status_color := "green" -}}
# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
palette = "catppuccin_mocha"

command_timeout = 1000

# separators
# left round:   
# right round:  
# left angled:  
# right angled: 

format = """
[∙](bold {{ $time_color }})$fill[∙ ](bold {{ $time_color }})$time
[](bold {{ $directory_color }})\
$directory\
$git_branch\
$git_metrics\
$git_status\
[ ]({{ $git_status_color }})
"""

# Inserts a blank line between shell prompts
add_newline = false

[directory]
fish_style_pwd_dir_length = 3
format = '[$path $status]($style)[$read_only]($read_only_style bg:{{ $directory_color }})[]({{ $directory_color }} bg:{{ $bg_color }})'

style = '{{ $bg_color }} bg:{{ $directory_color }}'
truncation_length = 4

[directory.substitutions]
# Add any substitions here
# 'some/path' = 'alias'
'~/Code' = '  Code'
'~/.local/share/chezmoi' = ' .dotfiles'
'qmk_firmware' = '󰌓 QMK'

[status]
style = '{{ $bg_color }} bg:{{ $directory_color }}'
symbol = ''
success_symbol = ''
format = '[$symbol$signal_number$maybe_int ]($style)'
map_symbol = false
disabled = false

[fill]
symbol = '─'
style = 'bold {{ $time_color }}'

[git_branch]
format = '[ ]({{ $bg_color }} bg:{{ $git_branch_color }})[$symbol$branch(:$remote_branch) ]($style bg:{{ $git_branch_color }})$git_state[]({{ $git_branch_color }} bg:{{ $bg_color }})'
style = '{{ $bg_color }}'
symbol = '[ ]({{ $bg_color }} bg:{{ $git_branch_color }})'

[git_metrics]
added_style = 'bold blue'
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '

[git_status]
format = '[ $git_metrics]({{ $bg_color }} bg:{{ $git_status_color }})([$all_status$ahead_behind]($style))'
disabled = false
style = '{{ $bg_color }} bg:{{ $git_status_color }}'

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[time]
disabled = false
format = '[$time]($style {{ $time_color }}) '

[username]
style_user = "bg:sapphire"
style_root = "bg:pink"
format = '[adaviloper ]($style {{ $bg_color }})'
show_always = true

[palettes.catppuccin_mocha]
rosewater = "{{ .colorscheme.rosewater }}"
flamingo = "{{ .colorscheme.flamingo }}"
pink = "{{ .colorscheme.pink }}"
mauve = "{{ .colorscheme.mauve }}"
red = "{{ .colorscheme.red }}"
maroon = "{{ .colorscheme.maroon }}"
peach = "{{ .colorscheme.peach }}"
yellow = "{{ .colorscheme.yellow }}"
green = "{{ .colorscheme.green }}"
teal = "{{ .colorscheme.teal }}"
sky = "{{ .colorscheme.sky }}"
sapphire = "{{ .colorscheme.sapphire }}"
blue = "{{ .colorscheme.blue }}"
lavender = "{{ .colorscheme.lavender }}"
text = "{{ .colorscheme.text }}"
subtext1 = "{{ .colorscheme.subtext1 }}"
subtext0 = "{{ .colorscheme.subtext0 }}"
overlay2 = "{{ .colorscheme.overlay2 }}"
overlay1 = "{{ .colorscheme.overlay1 }}"
overlay0 = "{{ .colorscheme.overlay0 }}"
surface2 = "{{ .colorscheme.surface2 }}"
surface1 = "{{ .colorscheme.surface1 }}"
surface0 = "{{ .colorscheme.surface0 }}"
base = "{{ .colorscheme.base }}"
mantle = "{{ .colorscheme.mantle }}"
crust = "{{ .colorscheme.crust }}"

