[Desktop Entry]
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=launch-script.sh --file-forwarding app.zen_browser.zen @@u %u @@
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Browser
Comment=Auto start the browser session
