[Desktop Entry]
Name=Slack
Comment=Team Communication and Collaboration
Exec=/snap/bin/slack
Icon=/opt/Discord/discord.png
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=slack

